body {
	margin: 0;
	padding: 0;
	background-color: #d5e1ef; /* Example style */
    font-family: "Outfit";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 461px;
    margin: 0px;
    border-radius: 20px;
    background-color: white;
    padding: 1rem;
    box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.103);
}

.one {

    grid-column: 1;
    grid-row: 1;

}

.two {
grid-column: 2;
    grid-row: 1;

}

.three {
grid-column: 3;
    grid-row: 1;
}

.four {
grid-column: 2;
    grid-row: 2;
}

h3 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    font-size: 23px;
    padding: 0 5px 0 5px;
    margin-bottom: 0;
}

p {
     color:hsl(216, 15%, 48%);
     font-size: 15px;
     font-weight: 400;
     padding: 0 0 5px 0;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  width: max-content;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: start;
  align-items: start;
  padding: 0px;
}

.qr-code {
width: 288px;
height: 288px;
border-radius: 3%;
align-self: center;
}

@media (max-width: 1000px){
    .grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: max-content;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: start;
  align-items: start;
  padding: 0px;
}

.one,.two,.three,.four{
    grid-column: 1;   
    grid-row: auto;
}


}