body {
	margin: 0;
	padding: 0;
	background-color: #d5e1ef; /* Example style */
    font-family: "Outfit";
}


section {
    border-radius: 20px;
    background-color: white;
    padding: 1rem;
    box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.103);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

h3 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    font-size: 23px;
    flex-basis: 1;
    padding: 0 5px 0 5px;
    margin-bottom: 0;
}

p {
     color:hsl(216, 15%, 48%);
     font-size: 15px;
     font-weight: 400;
     flex-basis: 2;
     padding: 0 0 5px 0;
}

.grid {
  display: grid;
  place-items: center;
  height: 100vh;
}

.qr-code {
width: 288px;
height: 288px;
border-radius: 3%;
flex-basis: 3;
align-self: center;
}

